<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leevan.mapper.UserMapper">

    <update id="update">

        UPDATE sys_user
        <set>
            <if test="userName!=null">
                user_name=#{userName},
            </if>
            <if test="nickName!=null">
                nick_name=#{nickName},
            </if>
            <if test="email!=null">
                email=#{email},
            </if>
            <if test="phonenumber!=null">
                phonenumber=#{phonenumber},
            </if>
            <if test="sex!=null">
                sex=#{sex},
            </if>
            <if test="avatar!=null">
                avatar=#{avatar},
            </if>
            <if test="identity!=null">
                identity=#{identity},
            </if>
            <if test="epc!=null">
                epc=#{epc}
            </if>
        </set>
        <where>
            id=#{id}
        </where>

    </update>

    <select id="findUser" resultType="com.leevan.pojo.user">
        select * from sys_user
        <where>
            <if test="userName!=null">
                user_name=#{userName}
            </if>

            <if test="id!=null">
                id=#{id}
            </if>
        </where>
    </select>

    <select id="countPagesByCondition" parameterType="com.leevan.Request.userQueryRequest" resultType="java.lang.Integer">
        select count(*) from sys_user
        <where>
            <if test="userName!=null and userName!=''">
                user_name=#{userName}
            </if>
            <if test="nickName!=null and nickName!='' ">
               and nick_name = #{nickName}
            </if>
            <if test="phonenumber!=null and phonenumber!=''   ">
               and phonenumber=#{phonenumber}
            </if>
        </where>
    </select>

    <select id="findAllWithPage" resultType="com.leevan.pojo.user">
        select * from sys_user

        limit #{pageNum},#{pageSize}
    </select>

    <select id="findAllWithPageAndCondition" parameterType="com.leevan.Request.userQueryRequest" resultType="com.leevan.pojo.user">
        select * from sys_user
                <where>
<!--                    <if test="userQueryRequest!=null">-->
                        <if test="userName!=null and userName!=''">
                            user_name=#{userName}
                        </if>
                        <if test="phonenumber!=null and phonenumber!=''">
                            phonenumber=#{phonenumber}
                        </if>
                        <if test="nickName!=null  and nickName!=''">
                            nick_name=#{nickName}
                        </if>
<!--                    </if>-->
                </where>
        limit #{pageNum},#{pageSize}
    </select>


</mapper>
